body{
    background-color: #E4FEFF;
    font-family: roboto;
}
br{
    margin: 10px;
}

input{
    padding: 6px 10px;
            margin: 8px 0;
            box-sizing: border-box;
            font-size: 20px;
}

.s{
    background-color: #0096A1;
     color: white;
    display: inline-block;
    border: none;
    font-size: 16px;
    padding: 10px;
}

.delete{
    background-color: #E50000;
    color: white;
    display: inline-block;
    border: none;
}


th, td {
  text-align: left;
  padding: 8px;
}
tr{
    background-color: #f2f2f2
    
}
th {
  background-color: #0096A1;
  color: white;
}